.genres {
    list-style-type: none;
    padding: 0;
    margin: 0;
    max-width: 350px;
    
    li {
      display: flex;
      align-items: center;
      margin-bottom: 10px;
      
      button {
        margin-left: auto;
        color: #fff;
      }
      
      a {
        color: #000;
        text-decoration: inherit;
        font-weight: 500;
  
        &:hover {
          color: grey;
        }
      }
    }
  }
  