@import 'header','front','genres','movie';

:root {
    min-height: 800px;
    width: 100%;
    background-color: #fff;
    color: #000;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}
    
  main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 2rem 3rem;
  }
  
  button {
    margin-right: 0.5rem;
    margin-left: 1rem;
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
    color: #fff;
    
    &:focus,
    &:focus-visible {
      outline: 4px auto -webkit-focus-ring-color;
    }
  }
  
  h1 {
    margin-left: 1rem;
  }
  
  p {
    margin-left: 1rem;
  }
  
  section {
    display: flex;
    flex-wrap: wrap;
    max-width: 1500px;
    gap: 4rem;

    a {
      font-weight: 500;
      color: #646cff;
      text-decoration: inherit;
    }
    a:hover {
      color: #535bf2;
    }
  }
  
  article {
    max-width: 350px;
    margin: 0.5rem;
  }
  
  footer {
    bottom: 0;
    padding: 4rem;
    background-color: pink;
    color: rgb(52, 27, 52);
    display: flex;
    justify-content: center;
    align-items: center;
  }