@import 'header','front','genres','movie';

#root {
    min-height: 800px;
    width: 100%;
    background-color: #fff;
    color: #000;
  }
  
  main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 2rem 3rem;
  }
  
  button {
    margin-right: 0.5rem;
    margin-left: 1rem;
  }
  
  h1 {
    margin-left: 1rem;
  }
  
  p {
    margin-left: 1rem;
  }
  
  section {
    display: flex;
    flex-wrap: wrap;
    max-width: 1500px;
    gap: 4rem;
  }
  
  article {
    max-width: 350px;
    margin: 0.5rem;
  }
  
  footer {
    bottom: 0;
    padding: 4rem;
    background-color: pink;
    color: rgb(52, 27, 52);
    display: flex;
    justify-content: center;
    align-items: center;
  }